#app {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inner {
  display: none;
  top: 0;
  right: 20px;
}
.computer-screen {
  border:5px solid black;
  width:60vw;
  height:60vh;
  position:absolute;
  top:24vh;
  left:20vw;
  text-align:center;
  overflow-y:auto;
  word-wrap:break-word;
}

@keyframes example {
  from {opacity: 0;}
  to {opacity:1;}
}

.unopaque {
	opacity:0;
}


.outer:hover .inner {
  display: inline;
  position: fixed;
}

.display-left {
  position:fixed;
  top:0;
  left:0;
  max-width:18vw;
  text-align:left;
  border:5px solid black;
  overflow:auto;
  height:100vh;
}

.computer-sidebar{
  width:18vh;
  position:absolute;
  top:10px;
  overflow:auto;
  height:55vh;
  left:10px;
  word-wrap:break-word;
}

.market-sidebar{
  width:18vh;
  position:absolute;
  top:100px;
  overflow:auto;
  height:55vh;
  left:20vw;
  word-wrap:break-word;
}

.top-part{
  position:absolute;
  top:60px;
  right:200px;
  word-wrap:break-word;
}

.txt-file {
  width:40vw;
  height:24vw;
  text-align:left;
  left:10vw;
  position:absolute;
}

.small-text{
  font-size:10px;
}

.img-file {
  width:40vw;
  height:22vw;
}
.computerCode{
  display:inline;
  position:absolute;
  left:150px;
  text-align:left;
}

.left-side-box{
  position:absolute;
  left:33vw;
  border:5px solid black;
  height:66vh;
  top:17.5vh;
  padding:5px;
}
.right-side-box{
  position:absolute;
  right:22vw;
  border:5px solid black;
  height:66vh;
  top:17.5vh;
  padding:5px;
}
.--tooltip{
  font-size:12px;
  width: 100px;
  right:0px;
  position:absolute;
}
.box{
  position:absolute;
  border:5px solid black;
  left:40vw;
  width:20vw;
  font-size:10px;
  padding:5px;
}

.close-to-bottom{
  position: absolute;
  bottom: 10vh;
  left: calc(50vw - 93px);
}

.close-to-the-whole-screen{
  padding-left: 20vw;
  padding-right: 20vw;
  color: blue;
}
