#app {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inner {
  display: none;
  top: 0;
  right: 5px;
}
.computer-screen {
  border:5px solid black;
  width:60vw;
  height:60vh;
  position:absolute;
  top:21vh;
  left:20vw;
  text-align:center;
  overflow:auto;
}

.robot-screen {
  width:250px;
  height:250px;
  position:absolute;
  top:21vh;
  left: calc(-125px + 50vw);
  text-align:center;
  overflow:auto;
}

@keyframes example {
  from {opacity: 0;}
  to {opacity:1;}
}

.unopaque {
	opacity:0;
}

.computer {
	animation-name:example;
	animation-duration:60s;
	animation-iteration-count:1;
}

.outer:hover .inner {
  display: inline;
  position: fixed;
}

.display-left {
  position:fixed;
  top:0;
  left:0;
  text-align:left;
  overflow:scroll;
  height:100vh;
}

.computer-sidebar{
  width:18vh;
  position:absolute;
  top:10px;
  left:10px;
  word-wrap:break-word;
}

.txt-file {
  width:40vw;
  height:24vw;
  text-align:left;
  left:10vw;
  position:absolute;
}

.small-text{
  font-size:10px;
}

.img-file {
  width:40vw;
  height:22vw;
}
.computerCode{
  display:inline;
  position:absolute;
  left:10vw;
  text-align:left;
}

.uncoveredResources{
  position:absolute;
  left:33vw;
  border:5px solid black;
  height:66vh;
  top:17.5vh;
  padding:5px;
}
.--tooltip{
  font-size:8px;
  width: 100px;
  right:0px;
  position:absolute;
}
.box{
  position:absolute;
  border:5px solid black;
  left:40vw;
  width:20vw;
  font-size:10px;
  padding:5px;
}
