<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
  <head>
    <meta charset="utf-8" />
    <title>The World</title>
	<script src="vue.js"></script>
	<link href="css/theworld.css" rel="stylesheet"> <link rel="stylesheet" href="css/bootstrap.css"/>

  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app" tabindex="0">
      <span v-for="curTab in tabs" :key=curTab.displayText v-on:click="tab=curTab.tab"><button class="btn btn-outline-danger" v-if="curTab.tab == tab">{{curTab.displayText}}</button><button class="btn btn-outline-success" v-else>{{curTab.displayText}}</button></span>
      <div class="display-left">
      <div v-for="resource in unlockedResources" :key="resource">
        {{resTable[resource].screenName}}: {{bigNumberHandler(resTable[resource].amount)}}/{{bigNumberHandler(resTable[resource].storage)}} ({{bigNumberHandler(resTable[resource].extraPerTick)}}/tick)
      </div>
    </div>
      <div v-for="line in message.split('\n')" :key=line>{{line}}</div>
      <span v-if="tab == 'main'">
        <span v-for = "category in Object.entries(categories)" :key = category[0]>
          <button v-if='categories[category[0]]' class = "btn btn-outline-success" v-on:click = "categories[category[0]]=!categories[category[0]]">
            {{category[0]}}
          </button><button class = "btn btn-outline-danger" v-else v-on:click = "categories[category[0]]=!categories[category[0]]">
            {{category[0]}}
          </button>
        </span>
        <span v-if='categories["Interaction"]'>
          <div v-for="curButton in buttons" :key= curButton.displayText class="outer">
            <button type="button" class="btn btn-outline-success" v-on:click="unSaveable.buttons[curButton.todo]()">{{curButton.displayText}}</button>
          </div>
        </span>
        <span v-if='categories["Processes"]'>
          <div v-for="curProcess in processes" :key= curProcess.displayText>
            <div class="outer"><button type="button" class="btn btn-outline-success" v-on:click="handleBuyBuilding(curProcess.buildingName)">{{curProcess.displayText}}  </button><span class="inner" >Cost: <br /><span v-for="(value, key) in buildingsList[curProcess.buildingName]['cost']">{{resTable[key].screenName}}: {{value}}<br /></span><br /></span></div>
          </div>
        </span>
        <div v-for="entry in Object.entries(buildings)"  v-if='categories[entry[0]]':key = 'entry[0]+"aah"'>
          <div v-for="curBuilding in entry[1]" :key= 'curBuilding.displayText'>
            <div class="outer">
              <button type="button" class="btn btn-outline-success" v-on:click="handleBuyBuilding(curBuilding.buildingName)">{{curBuilding.displayText}} ({{Math.round(resTable[curBuilding.buildingName].amount*100)/100}}) </button>
              <span class="inner" >
                Cost: <br />
                <span v-for="(value, key) in buildingsList[curBuilding.buildingName]['cost']">{{resTable[key].screenName}}: {{value*resTable[curBuilding.buildingName]["multiplier"]}}<br /></span>
                <span class = "--tooltip" v-if="buildingsList[curBuilding.buildingName]['tooltip']">
                  {{buildingsList[curBuilding.buildingName]['tooltip']}}
                </span>
                <br />
              </span>
            </div>
          </div>
          </div>
      </span>
      <span v-if="tab == 'saving'">
        <button class="btn btn-outline-warning"  v-on:click="saveGame()">Save game</button>
        <button class="btn btn-outline-warning"  v-on:click="loadGame(true)">Load game</button>
        <button class="btn btn-outline-warning"  v-on:click="clearGame()">Wipe save</button>
      </span>
      <span v-if="tab == 'computer'">
        <button v-if="insertedDisk==false" v-on:click="insertDisk()" class="btn btn-outline-success">Insert your computer disk.</button>
        <div class="computer-screen">
          <span  v-bind:style="{'opacity':computerOpacity}">
				      <p class='list-item computer-sidebar'>
                <span v-for="curFile in files" :key="curFile.fileID">
                  <button class="list-group-item list-group-item-action active small-text" v-if="fileViewed==curFile.fileID">{{curFile.screenName}}</button>
                  <button class="list-group-item list-group-item-action small-text" v-else v-on:click="curFileType=curFile.type;fileViewed=curFile.fileID;cursorX=0;cursorY=0">{{curFile.screenName}}</button>
                </span>
					     <button  class="list-group-item list-group-item-action small-text" v-on:click='addFile(files.length,"untitledfile.doc ")'>Make a file</button>
             </p>
             <span v-if="fileContents[fileViewed] && curFileType == 'doc'" >
               <pre v-for="(line, index) in fileContents[fileViewed].split('\n')" :key="line" class="computerCode" :style='{"top":(index*2)+"vh","marginBottom":"0px"}' :style="{'text-align':'left','display': 'inline'}">{{line}} <br /></pre>
             </span>
             <span v-else-if="fileContents[fileViewed] && curFileType == 'img'">
               <img :src="'images/'+fileContents[fileViewed]" class="img-file" />
             </span>
             <span v-else>
               <div v-for="(line, index) in fileTextContents[fileViewed]">
                 <span class="computerCode" :style='{"top":(index*2)+"vh","marginBottom":"0px"}' v-if="index != cursorY"><pre :style='{display: "inline"}'>{{line}}</pre></span>
                 <span v-else class="computerCode" :style='{"top":index*2+"vh"}'>
                   <pre :style='{display:"inline"}'>{{line.slice(0,cursorX)}}</pre><pre id='curLine' :style="{'backgroundColor': 'blue',display:'inline'}">{{line[cursorX]==' '?'&nbsp;':line[cursorX]}}</pre><pre :style="{display:'inline'}">{{line.slice(cursorX+1,line.length)[0]==' '?'&nbsp;'+line.slice(cursorX+2,line.length):line.slice(cursorX+1,line.length)}}</pre>
                 </span>
               </div>
             </span>
           </span>
			  </div>
      </span>
      <span v-if="tab == 'mining'">
        <span v-if="true">
          <span class="uncoveredResources">
            Uncovered resources
            <div v-for='(datum,resource) in planets["total"]'>
              <span v-if='resource!="progress" && (datum>0|| unlockedResources.includes(resource))'>
                {{resTable[resource].screenName}} - {{bigNumberHandler(datum)}}
              </span>
            </div>
          </span>
          <div>Progress: {{mining['Earth'].progress.toFixed(2)}}/1000</div>
        </span>
      </span>
      <span v-if="tab == 'jobs'">
        <div v-for='(newJobs,jobBase,i) in jobs'>
          <span v-if='unlockedResources.includes(jobBase)'  :style="{'top':(i+1)*25+'vh'}">
            <span>{{resTable[jobBase].screenName}}: {{resTable[jobBase].amount}} </span>
            <div v-for='newJob in newJobs' v-if='!machineStates[newJob.job] || allDictKeysAreInArray(machineStates[newJob.job].resourcesNeeded,unlockedResources)'>
              <span>{{resTable[newJob.job].screenName}}: {{resTable[newJob.job].amount}} </span><br />
              <button v-on:click='swapJobs(newJob.job,jobBase)'>Assign a {{resTable[jobBase].screenName}} to being a {{resTable[newJob.job].screenName}}</button><br />
              <button  v-on:click='swapJobs(jobBase,newJob.job)'>Deassign a(n) {{resTable[newJob.job].screenName}}</button><br />
            </div>
            <br />
            <br />
          </span>
        </div>
      </span>
      <span v-if="tab == 'scripts'">
        <div v-for="extension in unSaveable.extensions" :key = 'extension[0]' v-if='Object.entries(scripts[extension[0]]).length>0'>
          {{extension[1]}}
          <div v-for="(script,key) in scripts[extension[0]]">
            {{script.screenName}}: {{script.percent}}
            <button v-on:click='assignScript(extension[0],script.screenName,1)'>+1%</button>
            <button v-on:click='assignScript(extension[0],script.screenName,5)'>+5%</button>
            <button v-on:click='assignScript(extension[0],script.screenName,100)'>+all</button>
            <button v-on:click='assignScript(extension[0],script.screenName,-1)'>-1%</button>
            <button v-on:click='assignScript(extension[0],script.screenName,-5)'>-5%</button>
            <button v-on:click='assignScript(extension[0],script.screenName,-100)'>-all</button>
          </div>
        </div>
      </span>
      <span v-if="tab == 'adaptations'">
        <div v-for="adaptaion in adaptaions" v-if="!adaptaion.completed && allTrue(adaptation.prerequisites)">

        </div>
      </span>
      <span v-if="tab == 'robot'">
        <button class="btn btn-success" v-on:click="newGrid()">Generate new grid.</button>
        <div v-if="grid!=null" style="font-family:courier;">
          <div v-for="line in grid.displayGrid().split('\n')">
            {{line}}
          </div>
        </div>
      </span>
	</div>
  <script src="code/data/buildings.js"></script>
  <script src="code/data/tiles.js"></script>
  <script src="code/data/mining.js"></script>
  <script src="code/data/entities.js"></script>
  <script src="code/util/saving.js"></script>
  <script src="code/util/massProduction.js"></script>
  <script src="code/util/largeNumbers.js"></script>
  <script src="code/randomness/randomDistribution.js"></script>
  <script src="code/randomness/planetCreator.js"></script>
  <script src="code/bases/keyBindings.js"></script>
  <script src="code/bases/console.js"></script>
  <script src="code/classes/mining.js"></script>
  <script src="code/classes/mineDroid.js"></script>
  <script src="code/classes/readOnly.js"></script>
  <script src="code/classes/robot.js"></script>
  <script src="code/classes/tile.js"></script>
  <script src="code/classes/entity.js"></script>
  <script src="code/classes/worldGrid.js"></script>
  <script src="code/preMainLoading.js"></script>
  <script src="code/Main.js"></script>
  <script src="code/postMainLoading.js"></script>
  </body>
</html>
